<div class="page-header">
	<ol class="breadcrumb">
		<li>Inventario</li>
		<li>Comida</li>
	</ol>
</div>
<div class="container">
	<form class="form-inline" role="form">
		<div class="form-group">
			<input type="search" ng-model="search" class="form-control" placeholder="Buscar...">
		</div>
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<div class="form-group">
			<label for="ordenar" class="control-label">Ordenar por:</label>
			<select class="form-control" id="ordenar" ng-disabled="true">
				<option>Nombre</option>
				<option>Cantidad(mas)</option>
				<option>Cantidad(menos)</option>
			</select>
		</div>
	</form>
	<div class="clearfix"></div>
	<br><br>
	<div class="row">
		<div class="col-md-10">
			<table class="table">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Cantidad</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="comida in comidas | filter:search">
						<td>{{comida.comida}}</td>
						<td>{{comida.cantidad}}<span class="caret" ng-if="comida.cantidad<=5"></span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>