<div class="page-header">
	<ol class="breadcrumb">
		<li>Medicinas</li>
		<li>Analgésicos</li>
	</ol>
</div>
<div class="container">
	<form class="form-inline" role="form">
		<div class="form-group">
			<input class="form-control" placeholder="Buscar...">
		</div>
		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		<div class="form-group">
			<label for="ordenar" class="control-label">Ordenar por:</label>
			<select class="form-control" id="ordenar">
				<option>Nombre</option>
				<option>Cantidad(mas)</option>
				<option>Cantidad(menos)</option>
			</select>
		</div>
	</form>
	<div class="clearfix"></div>
	<br><br>
	<div class="row">
		<div class="col-md-10">
			<table class="table">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Cantidad</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Somenthing</td>
						<td>Quantity</td>
					</tr>
					<tr>
						<td>Another</td>
						<td>Quantity</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>