<div class="page-header">
	<h1>Registro de cliente</h1>
</div>
<div class="container">
	<form class="form-horizontal" role="form">
		<h3>Datos del cliente</h3>
		<div class="form-group">
			<label for="nombre" class="col-sm-2 control-label">Nombre</label>
			<div class="col-sm-10">
				<input id="nombre" class="form-control" placeholder="Nombre" required autofocus>
			</div>
		</div>
		<div class="clearfix"></div>
		<br><br>
		<h3>Datos de la mascota</h3>
		<div class="form-group">
			<label for="nombreM" class="col-sm-2 control-label">Nombre de la mascota</label>
			<div class="col-sm-10">
				<input id="nombreM" class="form-control" placeholder="Nombre de las mascota" required autofocus>
			</div>
		</div>
		<div class="form-group">
			<label for="especie" class="col-sm-2 control-label">Especie</label>
			<div class="col-sm-10">
				<input id="especie" class="form-control" placeholder="Especie de la mascota" required autofocus>
			</div>
		</div>
		<div class="clearfix"></div>
		<br>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<a href="#"><button type="button" class="btn btn-success">Aceptar</button></a>
				<a href="#"><button type="button" class="btn btn-danger">Cancelar</button></a>
			</div>
		</div>
	</form>
	
</div>